h2.intro {
  color: goldenrod;
  font-style: sans-serif;

}
p.intro {
  color:tomato;
  font-style: italic;
}
img.intro {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}